ul {
    list-style: none;
    border-bottom: 1px solid #9b4dca;

    li {
        display: inline-block;
        margin: 0 20px 0 0;

        &:last-child {
            margin: 0;
        }

        button {
            margin: 0 0 -1px;
            border-radius: 4px 4px 0 0;
            cursor: pointer;
            transition: 0.3s ease;
        }
    }
}
