@import "variables";

:host {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $font-color;
    font-family: Mukta, 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    outline: none;
    position: relative;
    width: 100%;
    z-index: 20;
    appearance: none;
}
