@import "variables";

:host {
    background: $primary;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    outline: none;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;

    &:hover {
        background: darken($primary, 5%);
    }

    &[full-width] {
        width: 100%;
    }

    &[disabled] {
        cursor: default;
        opacity: 0.5;

        &:hover {
            background: $primary;
        }
    }

    &[icon] {
        background: transparent;
        color: $font-color;
        font-size: 18px;
        padding: 0;
        width: 44px;

        &:hover {
            background: $bg-light;
        }

        &[primary] {
            background: $primary;
            color: white;

            &:hover {
                background: darken($primary, 5%);
            }
        }
    }
}
