@import "variables";

:host {
    background: white;
    box-shadow: $shadow;
    height: 100vh;
    overflow-y: scroll;
    padding: 40px 0;
    width: 280px;
    -webkit-overflow-scrolling: touch;

    h1 {
        padding: 0 20px;
    }
}
