@import "variables";

fieldset {
    background: white;
    border: 2px solid $border;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 10px 10px 5px;
    position: relative;

    &:last-child {
        margin: 0;
    }

    &.actions {
        border: none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

    input,
    textarea {
        &:focus,
        &.filled {
            & + label div {
                color: $primary !important;
                transform: translateY(-18px);
            }
        }
    }
}
