:host {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: calc(100vw - 300px);
    padding: 20px;
    overflow-x: auto;
    align-items: flex-start;

    div.intro {
        width: 60%;
        margin: 0 auto;
        align-self: center;
        text-align: center;

        p {
            margin-bottom: 20px;
        }
    }

    table {
        border-collapse: collapse;
        margin-right: 40px;

        th,
        td {
            min-width: 300px;
            width: 300px;
            height: 130px;
            min-height: 130px;
            // border: 1px solid black;

            &:first-child {
                width: 120px;
                min-width: 120px;
                text-align: center;
            }
        }

        th:last-of-type {
            min-width: 0;
            width: auto;
        }

        tbody {
            td {
                border: 1px dashed #cccccc;

                &:first-of-type {
                    border-left: none;
                }
            }
        }
    }
}
