<th-nav-drawer>
  <ng-container navHeader>{{ (barcamp | async).title }}</ng-container>
  <ng-container navBody>
    <th-configurer></th-configurer>
  </ng-container>
  <ng-container navFooter></ng-container>
</th-nav-drawer>
<div class="container">
  <div *ngIf="!(days | async).length">
    <p class="intro-text">
      Starte mit der Planung deines Barcamps indem du zuerst den Zeitraum festlegst.
    </p>
  </div>
  <div *ngFor="let day of days | async">
    <h4 contenteditable>{{ day | date: 'EEE dd.MM.' }}</h4>
    <table>
      <thead>
      <tr>
        <th>Zeit/Raum</th>
        <th *ngFor="let room of rooms | async">{{ room }}</th>
        <th>
          <button (click)="addRoom()">
            <i class="fa fa-plus"></i>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let time of times | async">
        <td>
          <p>{{ time.start | date: 'H:mm' }}</p> - <p>{{ time.end | date: 'H:mm' }}</p>
        </td>
        <td *ngFor="let room of rooms | async">
          Test
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>
          <button (click)="addTime()">
            <i class="fa fa-plus"></i>
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  <button (click)="addDay()">
    <i class="fa fa-plus"></i>
  </button>
</div>
