<form [formGroup]="topicForm" (submit)="addTopic()">
  <h3>Neues Thema</h3>
  <fieldset>
    <input id="title" type="text" formControlName="topicTitle">
    <label for="title">Titel</label>
  </fieldset>
  <fieldset>
    <textarea id="description" formControlName="topicDescription"></textarea>
    <label for="description">Beschreibung</label>
  </fieldset>
  <fieldset class="actions">
    <button type="submit" [disabled]="topicForm.invalid">
      Erstellen
    </button>
  </fieldset>
</form>
<ul>
  <li *ngFor="let topic of topics | async">
    <th-topic-card [topic]="topic"
                   (delete)="removeTopic($event)">
    </th-topic-card>
  </li>
</ul>
