<form [formGroup]="topicForm" (submit)="addTopic()">
  <h3>Neues Thema</h3>
  <fieldset>
    <input id="title" type="text" formControlName="topicTitle">
    <label for="title">Titel</label>
  </fieldset>
  <fieldset>
    <textarea id="description" formControlName="topicDescription"></textarea>
    <label for="description">Beschreibung</label>
  </fieldset>
  <button type="submit" [disabled]="topicForm.invalid">
    Erstellen
  </button>
</form>
<div>
  <cdk-drop id="topic-list"
            [data]="topics | async"
            [connectedTo]="slotIds | async">
    <div *ngFor="let topic of topics | async" cdkDrag>
      <th-topic-card [topic]="topic"
                    (delete)="removeTopic($event)">
      </th-topic-card>
    </div>
  </cdk-drop>
</div>
