@import "variables";

:host {
    form {
        border-bottom: 1px solid $bg-dark;
        padding: 0 20px 40px;

        h3 {
            margin: 0 0 10px;
        }
    }

    div {
        border-bottom: 1px solid $bg-dark;

        &:last-child {
            border-bottom: none;
        }
    }
}
