@import "variables";

:host {
    cursor: move;
    display: block;
    padding: 25px 20px 20px;
    transition: all .3s ease;
    width: 280px;

    &:hover {
        background: $bg-light;
    }

    &.drag {
        border-radius: 3px;
        box-shadow: $shadow;
        z-index: 10;
    }

    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .avatar {
            color: $font-color;
            font-family: Mukta, 'sans-serif';
            font-size: 14px;
            font-weight: 800;
            height: 34px;
            line-height: 34px;
            width: 34px;
        }
    }
}
